.compose{
    margin:auto;
    margin-top: 20%;
    margin-bottom:0;
}

.navbar-brand{
    margin-left:45vw;
    font-size: 5vh;
}

.navbar-brand span{
    font-family: 'Bonheur Royale', cursive;
    margin-right:2vh;
}

.side_bar{
    font-size: 3vh;
    text-align: left;
}

.side_bar:hover{
    background-color: rgb(46, 45, 42);
    border-radius:20px;
}

body{
    border-style: soild;
    border-color: black;
}

.search form{
    margin:2vh;
}

.search{
    border-right-style: solid;
    margin-right:-11px;
}

#view_chat{
   background-color: rgb(138, 135, 134);
}