body{
    background-color: rgb(161, 238, 238);
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 100px;
    text-align: center;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    width: 400px;
    height: 380px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 15px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
button{
    background: rgb(6, 80, 109);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    
}
button:hover{
    opacity: .7;
}
.signup{
    margin: 20px 0;
    font-size: 16px;
    color: #666666;
}
.signup a{
    color: #2691d9;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
.error{
    color: #A94442;
    
}